@import "http://fonts.googleapis.com/css?family=Droid+Serif:400,700.css";
@import "partials/_resets";
@import "partials/_clearfix";
@import "partials/_media_queries";
@import "partials/_colors";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Droid Serif', serif;
  font-size: 16px;
  background: $theme_accent;
}

body {
  height: 100%;
  max-width: 900px;
  margin: auto;
  background: $theme_content_bg;
}

.nav {
  display: none;

}

h1 {
  padding: .4375rem 0;
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: $theme_accent;
  text-align: center;
  text-transform: uppercase;
  background: $theme_accent_darker;

}
.content {
  padding: 2.5rem;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: $theme_font_dark;
}

h3 {
  margin-bottom: 2.5rem;
  font-weight: bold;
  color: $theme_accent_darker;
}

article {

  a {
    color: $theme_font_dark;
    text-decoration: none;
    border-bottom: 1px dashed $theme_accent;

  }

  &:visited {
    color: $theme_font_dark;
  }

  p {
    line-height: 1.7rem;
  }
}

aside {
  display: none;
}

footer {
  padding-top: 1.25rem;
  border-top: 1px solid $theme_accent;
}

footer .left {
  display: none;
}

.footer_links {
  
  width: 240px;
  margin: auto;
  
  
  li {
    float: left;
    width: 25%;
    text-align: center;
  }

  a {
    color: $theme_font_dark;
    text-decoration: none;
    
    &:visited {
      color: $theme_font_dark;
    }
  }

}

// $theme_accent: #4AB5BA
// $theme_accent_darker: #2F8F97;
// $theme_font_dark: #101D2E;
// $theme_content_bg: #ECF8E7;



@media #{$medium_up} {
 
}

@media #{$large_up} {

}



