@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700.css);
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: ' ';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

* {
  box-sizing: border-box; }

html {
  height: 100%;
  font-family: 'Droid Serif', serif;
  font-size: 16px;
  background: #4AB5BA; }

body {
  height: 100%;
  max-width: 960px;
  margin: auto;
  background: #ECF8E7; }

.nav {
  display: none; }

h1 {
  padding: .4375rem 0;
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #4AB5BA;
  text-align: center;
  text-transform: uppercase;
  background: #2F8F97; }

.content {
  padding: 2.5rem; }

h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: #101D2E; }

h3 {
  margin-bottom: 2.5rem;
  font-weight: bold;
  color: #2F8F97; }

article a {
  color: #101D2E;
  text-decoration: none;
  border-bottom: 1px dashed #4AB5BA; }
article p {
  line-height: 1.7rem; }

aside {
  display: none; }

footer {
  padding-top: 1.25rem;
  border-top: 1px solid #4AB5BA; }

footer .left {
  display: none; }

.footer_links {
  width: 240px;
  margin: auto; }
  .footer_links li {
    float: left;
    width: 25%;
    text-align: center; }
  .footer_links a {
    color: #101D2E;
    text-decoration: none; }

@media only screen and (min-width: 641px) {
  .row .nav {
    display: block;
    width: 300px;
    margin: 0 auto 15px;
    padding: 15px 0 16px; }
    .row .nav li {
      float: left;
      width: 25%;
      text-align: center; }
    .row .nav a {
      color: #101D2E;
      text-decoration: none; }
  h1 {
    padding: 2.125rem 0;
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: 4px;
    color: #4AB5BA;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #2F8F97;
    border-bottom: 1px solid #2F8F97;
    background: #ECF8E7; }
  aside {
    display: block;
    padding: 2.5rem; }
    aside h4 {
      color: #2F8F97;
      font-size: 1.2rem;
      font-weight: bold;
      padding-bottom: 1.0625rem; }
    aside .read_more {
      width: 100%;
      display: block;
      padding: 1.25rem 0;
      margin-top: 45px;
      text-align: center;
      background: #2F8F97;
      text-decoration: none;
      color: #4AB5BA;
      font-weight: bold; } }

